table,th,tr,td{

      border-style: solid dotted solid double ;
                     border-width: 1px 2px 1px 3px; 
                     border-color: black green black purple; 
                     margin: auto; 
                     
                        width: 800px;
                        
                       font-size: 30px;
padding: 5px;
                       
}
body{
  background-image:  radial-gradient(rgb(248, 79, 226),rgb(0, 255, 179)) ;

   
  
  
  
 
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: azure;
}