body{
  margin: 0;
}
.linear{
  height: 50vh;
  width: 100vw;
  background-image: linear-gradient(  to right,  rgb(5, 173, 202), rgb(235, 0, 51));

}
.text{
  font-size: 50px;
  color: azure;
  margin-top: 8%;
}

.radical{
  height: 50vh;
  width: 100vw;
  background-image: radial-gradient(rgb(25, 212, 236)10% ,rgb(10, 33, 138))
}